.box {
    width: 200px;
    height: 200px;
    /* background-color: rgb(179, 172, 39); */
    /* background-color: rgba(179, 172, 39, 0.5); */
    /* background-color: #b3ac27; */
    /* background-color: hsl(57, 64%, 43%); */
    /* background-color: hsla(57, 64%, 43%, 0.5); */
    background-color: hsl(179deg, 64%, 43%);
}