body {
    margin: 10px;
}

.tweet {
    width: 30rem;
    border: 3px solid lightgray;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.avatar {
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
    float: left;
    background-color: gold;
}

/* .clear-float {
    clear: both;
} */