.container {
    display: grid;
    /* 3 rows x 2 columns */
    /* grid-template-rows: 100px 100px 100px; */
    /* grid-template-rows: repeat(3, 100px); */
    /* grid-template-columns: 100px 100px; */
    /* grid-template-columns: repeat(2, 100px); */
    /* grid-template: repeat(3, 100px) / repeat(2, 100px); */

    /* 30% is based on the width of the container */
    /* fr = is percent of the available free space */
    /* shorthand rows / columns */
    grid-template: 100px auto 100px / 30fr 70fr ;

    /* align items */
    /* justify-items: stretch; */ /* horizontal with default value is "stretch" */
    /* align-items: stretch; */ /* vertical with default value is "stretch" */

    /* align content as a whole in the grid container */
    /* justify-content: center; */ /* horizontal */
    /* align-content: center; */ /* vertical */

    /* gap */
    /* row-gap: 10px;
    column-gap: 20px; */
    /* shorthand row-gap column-gap */
    /* gap: 10px 20px; */
    gap: 10px;

    /* grid areas */
    grid-template-areas: 
    "header  header"
    "sidebar main"
    ".       footer";

    height: 80vh;
    background-color: whitesmoke;
    border: 3px solid lightgrey;
}

.box {
    /* width: 5rem; */
    /* height: 5rem; */
    background-color: gold;
}

.box-one {
    /* grid-column: 2; */
    /* start at grid column line 1 and end at grid column line 3 */
    /* grid-column: 1 / 3; */
    /* -1 is the last column line */
    /* grid-column: 1 / -1; */
    /* column 1 and span 2 cells */
    /* grid-column: 1 / span 2; */
    /* row 2 and span 2 */
    /* grid-row: 2 / span 2; */ /* will add new row inside (not the expected result) */

    /* start / end */
    /* row / column */
    /* grid-area: 1 / 1 / 1 / 3; */ /* wierd syntax */

    grid-area: header;
}

.box-four {
    grid-area: footer;
}