body {
    margin: 10px;
}

.boxes {
    border: 3px solid lightgrey;
    /* required for absolute positioning of any child element */
    /* position: relative; */
}

.box {
    width: 5rem;
    height: 5rem;
}

.box-one {
    background-color: gold;
}

.box-two {
    background-color: tomato;

    position: fixed;
    left: 10vw;
    right: 10vw;
    top: 0;
    width: auto;


    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */

    /* position: relative; */
    /* these two options have the same result */
    /* left: -4rem; */
    /* right: 4rem; */
    /* left offset set to 4rem */
    /* left: 4rem; */
    /* bottom: 4rem; */
    /* z-index: 1; */
}

.box-three {
    background-color: dodgerblue;
}

.global-message-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
    padding-left: 25vw;
    padding-right: 25vw;
    /* Required only if other elements use some z-index > 0 */
    z-index: 999;
}

.message {
    padding: 10px;
    background-color: yellow;
    border: 1px solid red;
}

/* Relative positioning -> does NOT affect the normal flow */
/* Position is relativ to it's normal position */

/* Absolut positioning -> remove the element from the normal flow */
/* parent should use "position: relative", child should use "position: absolute" */
/* Position is relative to the parent container */

/* Fixed positioning -> remove the element form the normal flow */
/* Position is relative to the viewport */