*, *::before, *::after {
    box-sizing: border-box;
}

.box::before {
    content: "Hello";
}

/* By default the with and height are applied to the content area of the box */
/* padding and border add additional spaces to the box making the final size bigger */
/* 100px + 40px + 20px = 160px */
/* adding margin does not modifiy the box size */
/* background-color is applied to (content + padding) area */
/* inline-block elements are displayed inline but accept with and height */
.box {
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 10px solid orange;
    /* margin: 50px; */
    background-color: gold;
    display: inline-block;
}